html {
	box-sizing: border-box;
}
body {
    margin: 0;
    min-width: 1200px;
    background-color: rgb(36, 36, 36);
    font-family: 'Muller', Verdana, sans-serif;  
    font-weight: 400;  
    color: #eef8ff;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
.container-title{
    text-align: center;

}
.name-title {
    font-size: 30px;
    font-weight: 400;
}

.proff-title {
    font-size: 20px;

}

.about{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(43, 43, 43);
    border: 1px solid #b5b09c;
    border-radius: 30px;
}

.contact-title {
    font-size: 20px;
    font-weight: 400;
}
.contact-list {
    list-style-type: none;
}
.contact-item{
    font-style: italic;
    color:#D4B7B1;
}
.about-me{
    flex-direction: column;
    justify-content: center;

}
.about-me-title{
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 35px;
}

.about-me-text{
    font-style: italic;
    color: #D4B7B1;
}

.code-text {
    padding-left: 120px;
    color: #D4B7B1;
}

.skill-list{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
}
.skill-item {
    color: #D4B7B1;
    background-color: rgb(43, 43, 43);
    border: 1px solid #b5b09c;
    border-radius: 25px;
    padding: 15px 60px;
}
.language-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}
.language-item{
    color: #D4B7B1;
    background-color: rgb(43, 43, 43);
    border: 1px solid #b5b09c;
    border-radius: 25px;
    padding: 15px 60px;
    margin: 0 90px;
}